.game-selection-page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/astronaut-6863285_1920.jpg');
    background-size: cover;
}

.game-selection-container {
    width: 96%;
    max-width: 100%;
    height: 91%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    padding: 2.5rem;
    background-color: rgba(4, 0, 0, 0);
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
}

.game-selection-container h2 {
    text-align: center;
    margin-bottom: 1.875rem;
    color: #5202c8;
    font-size: 4rem;
}

.buttonBox {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 25%;
    margin-bottom: 0.5rem; /* Optional: Adds spacing between buttons */
}

.buttonBox > button {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000000;
    color: #55009f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease, font-size 1s ease;
    font-size: 2rem;
}

.buttonBox:hover > button {
    color: rgb(0, 0, 0);
    background-color: #e600ff;
    transform: scale(1.05);
    font-size: 2.5rem;
    z-index: 2;
}

.buttonBox .border {
    z-index: 1;
    background: rgb(79, 0, 205);
    width: 30px;
    height: 30px;
    position: absolute;
    transform: rotate(45deg);
    transition: transform 2s ease, width 1s ease, height 1s ease;
}

.buttonBox > .border:nth-of-type(1) {
    top: -35px;
    left: -30px; 
}

.buttonBox > .border:nth-of-type(2) {
    top: -35px;
    right: -30px;
}

.buttonBox > .border:nth-of-type(3) {
    bottom: -35px;
    left: -30px;
}

.buttonBox > .border:nth-of-type(4) {
    bottom: -35px;
    right: -30px;
}

.buttonBox:hover .border {
    transform: scale(15.7) rotate(45deg);
    width: 100%;
    height: 100%;
}

.buttonBox:hover button {
    transition: color 2s ease;
}
