.login-page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/casino-7260767.jpg');
    background-size: cover;
}

.login-container {
    width: 100%;
    max-width: 25rem;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 35%;
    padding: 2.5rem;
    background-color: rgba(4, 0, 0, 0.384);
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 1.875rem;
    color: #eadb05;
}

.login-input {
    width: 22rem;
    padding: 0.95rem;
    margin-bottom: 0.95rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button,
.Signup-button {
    width: 11rem;
    padding: 0.75rem;
    margin-top: 2rem;
    margin-left: 0.7rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-button:hover, .Signup-button:hover {
    background-color: #00b34e;
    transform: scale(1.1);
}